.portrait-frame:hover{

    transform:translateY(-10px);

    box-shadow:
      0 25px 60px rgba(0,0,0,.18);

}

.fashion-image{
    width:100%;
    height:100%;
    object-fit:cover;


}
.fashion-card{
    width:290px;
    height:470px;
    overflow:hidden;
    border-radius:30px;
    background:white;
    box-shadow:0 30px 60px rgba(0,0,0,.12);
}

.center-card{
    width:340px;
    height:560px;
}

.fashion-card:hover{

    transform:translateY(-12px);
}

.left-card:hover{

    transform:translateY(25px);
}

.right-card:hover{

    transform:translateY(25px);
}

.fashion-card:hover .fashion-image{

    transform:scale(1.03);
}


/* .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

.image-container{

position:relative;
width:100%;
height:100%;

overflow:hidden;

border-radius:30px;

}

.fade-image{

position:absolute;

inset:0;

width:100%;
height:100%;

object-fit:cover;

opacity:0;

transform:scale(1);

transition:
opacity 1.5s ease-in-out,
transform 7s ease;

}

/* .fade-image.active{
f
opacity:1;

transform:scale(1.06);

} */

.fade-image.active {
  opacity: 1;
  transform: scale(1.05); /* slow premium zoom */
}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-12px);
}

100%{
transform:translateY(0px);
}

}

.left-card{
    animation: floatLeft 10s ease-in-out infinite;
}

.center-card{
    animation: floatCenter 10s ease-in-out infinite;
}

.right-card{
    animation: floatRight 10s ease-in-out infinite;
}

@keyframes floatLeft {
  0%,100%{
    transform: translateY(35px);
  }

  50%{
    transform: translateY(5px);
  }
}

@keyframes floatCenter {
  0%,100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(-25px);
  }
}

@keyframes floatRight {
  0%,100%{
    transform: translateY(35px);
  }

  50%{
    transform: translateY(5px);
  }
}


